<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>hello</h1>
<script>
$(document).ready(function() {
    var response = '';
    $.ajax({
        type: "GET",
        url: "/user/1",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        success: function(text) {
            response = text;
        }
    });

    alert("Your id :"+response.id +" your name "+ response.UserName +"your age: "+ response.age +" your Sex: "+response.sex );
});
</script>
</body>
</html>